.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ↓ここに処理を書く↓ */
.footer {
  padding: 70px 0;

  &__sns {
    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > li {
        width: 32%;

        &:nth-child(n+4) {
          margin-top: 20px;
        }
      }
    }
  }
}

@mixin btn() {
  display: block;
  padding: 20px 30px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  background-color: #20aee5;
  text: {
    decoration: none;
    align: center;
  }
}

.footer__sns__btn {
  @include btn(); // 『@include class名()』で呼び出し
}
